html {
    width: 100%;
    float: center;
}

body {
    position: relative;
    background: #ffffff;
    color: #413f3f;
    font: 300 14px/20px 'Open Sans', sans-serif;
    background-image: url('./images/images\ \(1\).jpg');
    background-attachment: fixed;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 100%;
}

@media print {
    body {
        background-color: white;
    }
}

@media screen and (min-width: 992px) {
    html {
        width: 100%;
    }
}

.flex-container {
    display: flex;
    background-color: rgb(231, 205, 212);
    height: 150px;
    width: 100%;
    top: 0px;
    margin-top: 31px;
    z-index: 999;
    float: left;
    position: absolute;
    font-weight: normal;
    padding: 2px 38px 9px 0;
}

.flex-container>Home {
    display: flex;
    background-color: rgb(240, 185, 194);
    margin-top: 31px;
    float: right;
    position: absolute;
    right: 50px;
    left: 1000px;
    font-weight: normal;
    padding: 2px 38px 9px 0;
    align-self: right;
    text-align: right;
}

.flex-container>cont {
    display: flex;
    background-color: rgb(240, 185, 194);
    margin-top: 31px;
    float: right;
    position: absolute;
    right: 50px;
    left: 1000px;
    font-weight: normal;
    padding: 2px 38px 9px 0;
    align-self: right;
    text-align: right;
    right: 50px;
}

.flex-container>div>p {
    font-weight: normal;
    color: rgb(228, 111, 111);
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    text-align: left;
    left: 50px;
    font-style: oblique;
}

.flex-container>div>pre {
    font-weight: normal;
    color: rgb(228, 111, 111);
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    text-align: left;
    left: 30px;
}

.select {
    float: right;
    top: 0px;
    left: 1500px;
}

.sf-menu ul {
    position: absolute;
    top: -999px;
}

.sf-menu>li>ul>li {
    float: none;
    position: static;

}

.sf-menu>li {
    display: inline-block;
    position: relative;
    font-size: 22px;
    line-height: 22px;
}

.sf-menu>li>a {
    position: relative;
    color: #000000;
    text-align: center;
}


.flex-container1 {

    position: relative;
    top: 200px;
    z-index: 999;
}

h1 {
    position: absolute;
    font-size: 30px;
    left: 800px;
    top: 150px;
    font-style: italic;
}

.left {
    position: absolute;
    left: 700px;
    top: 300px;
}

.right {
    position: absolute;
    left: 1000px;
    top: 300px;
}

.middle {
    position: absolute;
    right: 100px;

}

.middle1 {
    position: absolute;
    right: 100px;
    top: 300px;
}

h3 {
    position: absolute;
    text-align: center;
    left: 400px;
    top: 600px;
    size: 100px;
}

text1 {
    position: absolute;
    left: 850px;
    size: 100px;
    text-decoration: solid;
    top: 750px;
}

.holder {
    position: relative;
    width: 100px;
    height: 50px;
    top: 275px;
}

.block {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 600px;
    background: rgba(255, 255, 255, 0.7);
    padding: 120px;
    display: none;
}

.holder:hover .block {
    display: block;
}

.holder1 {
    position: relative;
    width: 100px;
    height: 50px;
    top: 275px;
    left: 700px;
}

.block1 {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 600px;
    background: rgba(255, 255, 255, 0.7);
    padding: 120px;
    display: none;
}

.holder1:hover .block1 {
    display: block;
}

.holder2 {
    position: relative;
    width: 100px;
    height: 50px;
    top: 275px;
    left: 1100px;
}

.block2 {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 550px;
    background: rgba(255, 255, 255, 0.7);
    padding: 120px;
    display: none;
}

.holder2:hover .block2 {
    display: block;
}

.holder3 {
    position: relative;
    width: 100px;
    height: 50px;
    top: 275px;
    left: 1500px;
}

.block3 {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 500px;
    background: rgba(255, 255, 255, 0.7);
    padding: 120px;
    display: none;
}

.holder3:hover .block3 {
    display: block;
}

div10 {
    position: absolute;
    left: 75px;
    size: 70px;
    text-decoration: solid;
    top: 1460px;
}


.contacts {
    position: absolute;
    left: 0px;
    text-decoration: solid;
    top: 1700px;
}

cont {
    position: absolute;
    left: 750px;
    text-decoration: solid;
    top: 0px;
}

i {
    color: rgb(228, 111, 111);
}

div-end {
    background-color: rgb(231, 205, 212);
    width: 100%;
    height: 50px;
    size: 30px;
    position: absolute;
    bottom: 0px;
    top: 275px;
}