html {
    width: 100%;
    float: center;
}

body {
    position: relative;
    background: #ffffff;
    color: #413f3f;
    font: 300 14px/20px 'Open Sans', sans-serif;
    background-image: url('./images/images\ \(1\).jpg');
    background-attachment: fixed;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 100%;
}

.flex-container {
    display: flex;
    background-color: rgb(231, 205, 212);
    height: 150px;
    width: 100%;
    top: 1px;
    margin-top: 31px;
    z-index: 999;
    float: left;
    position: absolute;
    font-weight: normal;
    padding: 2px 38px 9px 0;
}

.flex-container>Home {
    display: flex;
    background-color: rgb(240, 185, 194);
    margin-top: 31px;
    float: right;
    position: absolute;
    right: 50px;
    font-weight: normal;
    padding: 2px 38px 9px 0;
    align-self: right;
    text-align: right;
}

.flex-container>cont {
    display: flex;
    background-color: rgb(240, 185, 194);
    margin-top: 31px;
    float: right;
    position: absolute;
    right: 50px;
    font-weight: normal;
    padding: 2px 38px 9px 0;
    align-self: right;
    text-align: right;
}

.flex-container>div>p {
    font-weight: normal;
    color: rgb(228, 111, 111);
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    text-align: left;
    left: 50px;
    font-style: oblique;
}

.flex-container>div>pre {
    font-weight: normal;
    color: rgb(228, 111, 111);
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    text-align: left;
    left: 30px;
}

.select {
    float: right;
    top: 0px;
    left: 1500px;
}

.sf-menu ul {
    position: absolute;
    top: -999px;
}

.sf-menu>li>ul>li {
    float: none;
    position: static;

}

.sf-menu>li {
    display: inline-block;
    position: relative;
    font-size: 22px;
    line-height: 22px;
}

.sf-menu>li>a {
    position: relative;
    color: #000000;
    text-align: center;
}

div2 {
    position: relative;
    width: 75%;
    height: 250px;
    text-decoration: solid;
    z-index: 999;
    float: center;
}

.contacts {
    position: absolute;
    left: 300px;
    text-decoration: solid;
    top: 200px;
}

con {
    position: absolute;
    left: 750px;
    text-decoration: solid;
    top: 0px;
}

#id {
    position: absolute;
    left: 1100px;
    text-decoration: solid;
    top: 0px;
}

input {
    opacity: 0.7;
}

textarea {
    opacity: 0.7;
    border: #8f8a8a;
}

textarea:active {
    opacity: 0.2;
    color: white;
}


input:required {
    border: #8f8a8a;
}

input:hover {
    opacity: 0.4;
    color: rebeccapurple;
}

input:active {
    opacity: 0.2;
    color: white;
}

@keyframes otp {
    0% {
        background-image: linear-gradient(to right, green, white, white, white);
    }

    50% {
        background-image: linear-gradient(to right, green, green, white, white);
    }

    100% {
        background-image: linear-gradient(to right, green, green, green, green);
    }
}

input[type=submit] {
    background-image: linear-gradient(to right, white);
    animation-name: otp;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    width: 150px;
    border: none;
}

year {
    position: absolute;
    left: 1200px;
    text-decoration: solid;
    top: 275px;
}